.heading{
    font-size: 400%;
    font-family: Arial;
}
.contentContainer{

}
.were{
    font-weight: 100;
    color: hsl(0, 37%, 72%);
}
.summary{
    color: hsl(0, 37%, 72%);
    width: 465px;
}
p{
    margin-bottom:0;
    margin-top:0;
    font-family: Josefin Sans;
    font-weight: 300;
}
img{
    margin-bottom: 80px;
}